[submodule "section03_Pipeline/gitlab-subrepo"]
	path = section03_Pipeline/gitlab-subrepo
	url = git@gitlab.com:udemy7523451/my-first-project.git
[submodule "section04_Artifacts/artifacts_demo"]
	path = section04_Artifacts/artifacts_demo
	url = git@gitlab.com:udemy7523451/artifacts_demo.git
[submodule "section06_Local_Runners/local-runners"]
	path = section06_Local_Runners/local-runners
	url = git@gitlab.com:udemy7523451/runners-project.git
[submodule "section07_Variables/Variables_Demo"]
	path = section07_Variables/Variables_Demo
	url = git@gitlab.com:udemy7523451/variables_demo.git
[submodule "section08_Start_Demo_Project/Demo_Project"]
	path = section08_Start_Demo_Project/Demo_Project
	url = git@gitlab.com:udemy7523451/demo_project.git
